

.customer-profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.labelClass{
    font-size: 20px;
    color: #0000;
   }
   .textPara{
    background-color: #FFFF;
    padding: 10px;
    margin-top: 10px;
    /* color: $dark-grey; */
    font-size: 14px;
    border-radius: 8px;
}
.customer-detail-form{
    display: grid;
    grid-template-columns: 43% 43%;
    justify-content: space-between;
    grid-row-gap: 26px;
    width: 86%;
    margin: 0 auto;
    margin-top: 40px;
    
 
}

.deposit-heading-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}